
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 48px;
  color: white;
}

.App{
 padding:30px 100px;
 background-color:var(--primary-color);
}


@media (max-width: 960px) {
  .App{
margin:0 auto;
  padding:30px;
  }
  }