.buttons {
margin-right: 35px;
}

#pay-button, 
    #exclude-button{
    border: none;
    color:#143230;
    font-weight: 500;
 
}

#exclude-button{
    background-color: var(--additional-color2);
}

#pay-button{
background-color: var(--secondary-color);
}

#pay-button:hover{
    background-color: var( --primary-color);
    color: var(--default-color);
    transition: all .2s ease-in-out;
}
#exclude-button:hover{
background-color: rgb(247, 199, 67);
 transition: all .2s ease-in-out;
}

@media (max-width: 960px) {
    .btn{
font-size:10px;
      }
    
    
    }