.invoice-row {
    font-size:12px;
    color:#143230;

  }
  .header-row{
    font-size: 14px;
  }
.pending-status{
  background-color: var(--additional-color3);
  border-radius:8px;
padding:4px;
display:flexbox;
text-align: center;
}



@media ((max-width: 960px)) {
  .invoice-row{
      font-size:10px;
    }
    .header-row{
      font-size: 12px;
    }
    .pending-status{
      max-width: 100%;
  }

}
